<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#authPopup" aria-expanded="false" aria-controls="authPopup">User</button>

<div class="collapse" id="authPopup">
    <ul>
        <li>
            Login
        </li>
        <li>
            Register
        </li>
    </ul>
</div>
@code {
    
}