 <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
<div class="collapse position-absolute mt-5" id="collapseExample">
  <div class="card card-body">
    <ul>
      <li><a> Login </a></li>
      <li><a> Register </a></li>
    </ul>
  </div>
</div>
@code {
    
}