<button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    User
</button>

<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Register">RegisterInput</a>
    </li>

@* Fix the bug where the popup is not properly aligned. *@
<div class="collapse position-absolute" id="collapseExample">
    <div class="card card-body">
        <ul>
            <li><a> Login </a></li>
            <li><a> RegisterInput </a></li>
        </ul>
    </div>
</div>